.ms-camera-source {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    &__intro {
        margin-bottom: @margin-sm;
        font-size: @font-size-sm;
        color: var(--text-color-tertiary);
    }
}
